
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@section Scripts
{
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-route.min.js"></script>
<script src="~/Scripts/Search/app-search.js"></script>
<script src="~/Scripts/Search/searchController.js"></script>
<script src="~/Scripts/Search/SimpleControls.js"></script>
    }

   
<div class="row" ng-app="app-search">
    <div ng-view></div>
</div>